/* CSS declarations go here */

.red-bg {
    background-color: red;
}
.center {
    -webkit-transform-origin: 50% 50% !important;
}
.thumbnailType {
    background-image: url('img/old20.svg');
    height: inherit;
    background-size: 100% 90%;
    background-repeat: no-repeat;
}
input.input-card {
    position: absolute;
    overflow: visible;
    height: 20%;
    opacity: .5;
    bottom: 0;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 50px;
}
.entity-container {
    height: inherit;
    width: inherit;
    position: absolute;
}
.item {
    width: inherit;
    height: inherit;
}
.card-container {
    width: inherit;
    height: inherit;
    position: absolute;
}
svg {
    overflow: visible;
    position: absolute;
}
svg.widget{
    width: inherit;
    height: inherit;
}
div.widget {
    overflow: visible;
}
.famous-container {
    z-index: -1;
}
div.svgmodal {
    height: 100px;
    width: 100px;
}
div {
    position: absolute;
}
